# History files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Renviron

# macOS system files
*.DS_Store

# Shiny files
.shiny_run/
shinyShortcut.vbs

# RStudio files
.Rproj.user/
rsconnect/

# Rendered reports
code/*.docx
code/*.pdf
docs/*.html
docs/*.docx
docs/*.pdf

# Data files
data/*.csv
data/*.txt
data/backup/
data/baltic\ 2023/
data/march/
data/baltic\ 2023\ november/
data/skagerrak\ 2023\ november/
data/origin\ unknown/
data/skagerrak-kattegat\ 2023/
data/summary\ Baltic/
data/summary\ Skagerrak-Kattegat/
data/summary_until_march_2023/
data/tollboden/
data/shapefiles/sharkweb_shapefiles/*
!data/shapefiles/sharkweb_shapefiles/.gitkeep

# Output files
output/*.csv
output/*.txt
output/*.zip
output/classifier/*.txt
output/blobs_and_features/*.txt
output/classifier/
!output/classifier/.gitkeep
!output/classifier/corrected/.gitkeep

# Images and other binary files
*.jpg
*.pdf
*.png
*.mat

# knitr and R markdown default cache directories
/code/cache/
code/figures/*.jpg

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Deprecated code
old/

# Python environment
venv/
__pycache__/
.idea/

# Workspace
work/
data/*
