# History files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store

# Session Data files
.RData

# RStudio files
.Rproj.user/

# Rendered reports
code/*.docx
code/*.pdf
docs/*.html
docs/*.docx
docs/*.pdf

# data files
data/*.csv
data/*.txt
data/backup/
data/baltic 2023/
data/march/
data/baltic 2023 november/
data/skagerrak 2023 november/
data/origin unknown/
data/skagerrak-kattegat 2023/
data/summary Baltic/
data/summary Skagerrak-Kattegat/
data/summary_until_march_2023/
data/tollboden/
data/tollboden/
data/shapefiles/sharkweb_shapefiles/*
!data/shapefiles/sharkweb_shapefiles/.gitkeep
output/*.csv
output/*.txt
output/classifier/*.txt
output/blobs_and_features/*.txt
output/classifier/
!output/classifier/.gitkeep
!output/classifier/corrected/.gitkeep
work/
data/data/


# output files
*.jpg
*.pdf
*.png

# knitr and R markdown default cache directories
/code/cache/
/code/figures/*.jpg

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# RStudio
.Rproj.user

# Deprecated code
code/old/